/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "Poppins";
  src: url('assets/fonts/Poppins-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'IcoMoon-Free';
  src: url('assets/fonts/IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-align: none;
}
