<!-- skating -->
<div class="skating">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
           <div class="titlepage text_align_center">
              <h2>Skating  Video</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-4">
           <div class="skating-box ">
              <figure><img src="assets/images/sakt1.png" alt="#"/></figure>
              <div class="link_btn">
                 <a class="read_more" href="Javascript:void(0)">See More</a>
              </div>
           </div>
        </div>
        <div class="col-md-4">
           <div class="skating-box">
              <figure><img src="assets/images/sakt2.png" alt="#"/></figure>
              <div class="link_btn">
                 <a class="read_more" href="Javascript:void(0)">See More</a>
              </div>
           </div>
        </div>
        <div class="col-md-4">
           <div class="skating-box">
              <figure><img src="assets/images/sakt3.png" alt="#"/></figure>
              <div class="link_btn">
                 <a class="read_more" href="Javascript:void(0)">See More</a>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- end skating -->
